
<div class="pagescontainer">
    <div class = "card text-center">
        
        <div class="card-body">
          <h5 class="card-title">Manage Your history</h5>
          
    
    
          
          <div class="card" >
            
            <div class="card-body">
              <h5 class="card-title">Order Details</h5>
              <p class="card-text">put the Orderdetails here </p>
              
               
            </div>
          </div>
    
    
    
          
        </div>
        
      </div>
    </div>