
<app-homenav></app-homenav>
<div class="popularemanu">
  <header class="popular"><b>Popular Menu</b></header>

</div>

   <div class="container" *ngFor="let product of product">

    <div class="card" style="width: 70%">

      <img [src]="product.imageurl" style="width: 60% ">

      <div class="card-body">

        <p class="discription"> {{product.foodname}}</p>


        <p class="card-text">Price: R {{product.price}} </p>

         <button>Select Order</button>

      </div>

    </div>

  </div> 

