<!-- <form class="container" [formGroup]="registerForm" (ngSubmit)="onregister()">



  

    <div class="col-md-5">
      <label for="validationDefault01" class="form-label">First name</label>
      <input type="text" class="form-control" id="validationDefault01" formControlName="firstname" required>
    </div>

    <div class="col-md-5">
      <label for="validationDefault02" class="form-label">Last name</label>
      <input type="text" class="form-control" id="validationDefault02" formControlName="lastname" required>
    </div>




    <div class="col-md-5">
      <label for="validationDefault03" class="form-label">Email</label>
      <div class="input-group">

        <input type="text" class="form-control" id="validationDefaultUsername" aria-describedby="inputGroupPrepend2"
          formControlName="email" required>
      </div>
    </div>

    <div class="col-md-5">
      <label for="validationDefault03" class="form-label">Password</label>
      <input type="password" class="form-control" id="validationDefault03" formControlName="password" required>
    </div>


  

  <div class="submitButton">

    <div class="col-12">
      <button class="btn btn-primary" type="submit" message>Submit</button>
    </div>
  </div>
</form> -->

<div class="registration-form">
  <h2>Register</h2>
  <form (ngSubmit)="onSubmit()" #registrationForm="ngForm">
    <div class="form-group">
      <label for="username">First name</label>
      <input
        type="text"
        id="firstname"
        name="firstname"
        class="form-control"
        [(ngModel)]="formData.firstname"
        required
      />
    </div>

    <div class="form-group">
      <label for="lastname">Last name</label>
      <input
        type="text"
        id="lastname"
        name="lastname"
        class="form-control"
        [(ngModel)]="formData.lastname"
        required
      />
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        class="form-control"
        [(ngModel)]="formData.email"
        required
        email
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        class="form-control"
        [(ngModel)]="formData.password"
        required
        minlength="6"
      />
      
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
  <div *ngIf="registrationSuccess" class="alert alert-success">
    Registration successful! You can now log in.
  </div>
  <div *ngIf="registrationError" class="alert alert-danger">
    {{ registrationError }}
  </div>
</div>
