.container{
     padding: 30px;
    // background-color: aqua;
    // width: 50%;
    // margin-left : 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border: solid;
    border-color: #e6e6e6;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: #fcfafa;
    border-radius: 20px;
  
}

.submitButton{
    margin-top: 10px;
}
.card{
    flex-direction: row;
}