 
  
  
  <div class="fastFoodWorld">
    <h1 class="headertext"><b>Login</b></h1>
</div>

<P>njn njnj </P>

<div *ngFor="let product of product">

  <p>hnjnj jznjnz {{product.foodname}}</p>
  hgbhbhbnjnj

</div>

  
    
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">

      <div class="container">
      <div class="form-group">
        <label for="email">email</label>
        <input
          type="text"
          id="email"
          name="email"
          class="form-control"
          [(ngModel)]="formData.email"
          required
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          [(ngModel)]="formData.password"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary"  >Login</button>
    </div>
     
    </form>
    <div *ngIf="loginError" class="alert alert-danger">
      {{ loginError }}
    </div>
  

   