<nav class="navbar navbar-expand-lg bg-body-tertiary">
    
    

    <div class="container-fluid">
    
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

        <div class="fastFood">
          <h1><b>Fast Food</b></h1>
        </div>
        <div class="dropdown">
        
          
      

          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Menu
          </button>

          <ul class="dropdown-menu">
            <li><button class="dropdown-item" routerLink="/breakefast" type="button">breakefast</button></li>
            <li><button class="dropdown-item" routerLink="/drinks" type="button">Drinks</button></li>
            <li><button class="dropdown-item" routerLink="/burgers" type="button">Burgers</button></li>
          </ul>
        </div>

        <div class="navbar-nav">
          <a class="nav-link active"routerLink="/home" aria-current="page" href="#">Home</a>
          <a class="nav-link" routerLink="/history" href="#">History</a>
          <a class="nav-link" routerLink="/profile" href="#">Profile</a>
          <a class="nav-link" routerLink="/trackorder" href="#">Track Order</a>
          
        </div>

        
      </div>


      
    </div>

    
    <button type="button"  class="loginButton" routerLink="/login">Login</button>
    <button type="button" class="registerButton" routerLink="/register">Register</button>

    

      

  </nav>