
.row{
   // background-color: darkgray;
    // height: 30px;
    padding: 20px;
    position: relative;
  min-height: 100vh;
    
}
.mail{
    flex-direction: row;
    position: relative;
    
    
}
