<!-- <br/>
<br/>
<div class="body">
  
</div>
<div class="row">
    <div class="col-sm-6 ">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">About Us</h5>
          <p class="card-text">We selling the most delicious food in the city</p>
          
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Contact</h5>
          <p class="card-text">Phone: 0769982537</p>

          <div class="mail">
            <p>gmail: </p>
            <a href="#" class="card-text">sea6580@gmail.com</a>
            
        </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <!-- <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Web design</a></li>
                        <li><a href="#">Development</a></li>
                        <li><a href="#">Hosting</a></li>
                    </ul>
                </div> -->
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <p class="card-text">We selling the most delicious food in the city</p>
                </div>
                <div class="col-md-6 item text">
                    <h3>Contact</h3>
                    <p class="card-text">Phone: 0769982537</p>
                    <a href="#" class="card-text">sea6580@gmail.com</a>
                </div>
                <!-- <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div> -->
            </div>
            <p class="copyright">Company Name © 2018</p>
        </div>
    </footer>