<br/>
<br/>
<div class="body">
  
</div>
<div class="row">
    <div class="col-sm-6 ">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">About Us</h5>
          <p class="card-text">We selling the most delicious food in the city</p>
          
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Contact</h5>
          <p class="card-text">Phone: 0769982537</p>

          <div class="mail">
            <p>gmail: </p>
            <a href="#" class="card-text">sea6580@gmail.com</a>
            
        </div>
        </div>
      </div>
    </div>
  </div>