.raw {
    flex-direction: row;
    padding: 10px;
    background-color:aqua;
}
.body{
    align-items: center;
    justify-content: center;
    // background-color: aqua;
}
.popularemanu{
    align-items: center;
    justify-content: center;
    //background-color: aqua;
    text-align: center;
    height: 80px;
    padding-bottom: 60px;
    border-width: 2;
    border-color: black;
    
}
.popular{
    //color: azure;
    font-size: 70px;
    margin-bottom: 20px;
    
}
.dropdown{
    margin-right: 30px;
    flex-direction: row;
}
.btn-secondary{
    margin-right: 10px;
}
.container{

    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-behavior: auto;

    //background-color: aqua;

}


.card{
    flex-direction: row;
}
.discription{
    //background-color: aqua;
    width: 40%;
    
}
.card-body{
    width: "30%";
    background-color: #fcfafa;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // border-color: rgb(218, 224, 224);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: solid ;
    border-color: #e6e6e6;
    
}